#Youtrack
YOUTRACK_TOKEN='' # Токен ютрека для работы с апи ютрека, можно достать в настройках пользователя снизу по этому адресу https://tracker.ntechlab.com/users/me?tab=account-security

#Telegram
CHAT_ID='' #Айди чата телеграм, куда будут приходить сообщения
CHAT_THREAD='' #Айди треда в чате
TELEGRAM_TOKEN='' # Токен бота телеграм, токен от нашего бота есть у меня (Александров Андрей @Shiretomi)

#Redis
REDIS_URL='redis' #redis - название сервиса в компоуз файле 
REDIS_PORT=6379 #дефолтный порт редиса

#Pastebin
PASTEBIN_API_KEY='' #API ключ для загрузки скриптов на сервер, для удаленного использования