#Коменты можно удалить
TELEGRAM_TOKEN='' # Токен бота телеграм, токен от нашего бота есть у меня (Александров Андрей)
YOUTRACK_TOKEN='' # Токен ютрека для работы с апи ютрека, можно достать в настройках пользователя снизу по этому адресу https://tracker.ntechlab.com/users/me?tab=account-security
