[target_servers]
#hostname   IP address                Username               Path to SSH key
sup_demo    ansible_host=127.0.0.1    ansible_user=ubuntu    ansible_ssh_private_key_file=/app/ansible/.ssh/id_rsa